.cursor {
  z-index: 1000;
  border-radius: 100%;
  width: 5px;
  height: 5px;
  background: #fff;
  border: 2px solid #fff;
  /* mix-blend-mode: difference; */
  pointer-events: none;
  overflow: hidden;
  transform: translate3d(0, 0, 0);
  position: fixed;
  transition: 0.1s linear;
}

@media only screen and (max-width: 1024px) {
  .cursor {
    display: none;
  }
}
