.header {
  width: min(100% - 200px);
  height: 100px;
  background: #ffffff03;
  box-shadow: 0px 2px 120px #ffffff14;
  padding: 0px 100px 0px 100px;
  border-bottom: 1px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header .logo {
  cursor: pointer;
  font: 700 40px sans-serif;
  color: #fff;
  text-transform: uppercase;
  margin: 0;
}

.header .navigation {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 50px;
}

.header .navigation div.links {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.header .navigation div.links h1 {
  display: none;
}

.header .navigation div.links a.nav_link {
  color: #ffffffb2;
  text-decoration: none;
  transition: 0.3s linear;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 500 1.5rem monospace;
}

.header .navigation div.links a.nav_link:hover {
  color: #fff;
}

.header .navigation a.staking {
  color: #ffffffb2;
  text-decoration: none;
  transition: linear 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 500 1.5rem monospace;
  width: 150px;
  height: 50px;
  color: #fff;
  background: linear-gradient(
    107.21deg,
    rgba(255, 255, 255, 0.26) 2.84%,
    rgba(255, 255, 255, 0.06) 73.23%
  );
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    0px 4px 24px -1px rgba(0, 0, 0, 0.25);
  backdrop-filter: blur(40px);
  border-radius: 7px;
  border: 2px solid white;
}

.header .navigation a.staking:hover {
  background: transparent;
  border: 2px solid transparent;
}

.header button.menu {
  display: none;
}

@media only screen and (max-width: 1024px) {
  .header {
    padding: 0px 25px;
    width: calc(100% - 50px);
    position: sticky;
    top: 0;
    background: #09244e;
    z-index: 11;
  }
  .header button.menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    border: none;
    outline: none;
    background: transparent;
    font-size: 2.5rem;
    color: #fff;
  }
  nav.navigation {
    flex-direction: column;
    position: fixed;
    top: 0px;
    right: 0;
    height: 100%;
    width: 100%;
    max-width: 250px;
    background: linear-gradient(180deg, #09244e 0%, #04142d 100%);
    transition: 0.3s linear;
    transform: translateX(100%);
    z-index: 1;
    border-left: 1px solid #fff;
    padding: 66px 30px 50px 30px;
  }
  nav.navigation div.links {
    flex-direction: column;
    align-items: flex-start !important;
    width: 100%;
    margin-left: 40px;
  }
  nav.navigation div.links h1 {
    display: flex !important;
    font: 700 40px monospace;
    color: #fff;
    text-transform: uppercase;
  }
  .responsive_nav {
    transform: translateX(0vh) !important;
  }
  .close {
    position: absolute;
    top: 1rem;
    right: 25px;
  }
}

@media only screen and (max-width: 600px) {
  .header {
    height: 70px;
  }
}
