section.landing {
    width: calc(100% - 200px);
    padding: 50px 100px;
    background: linear-gradient(180deg, #09244E 0%, #04142D 100%);
    height: 100%;
    @media (max-width: 800px) {
        padding: 50px 25px;
        width: calc(100% - 50px);
    }
    div.mobile_landing {
        display: none;
        @media (max-width: 800px) {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            div.content {
                width: 100%;
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                align-items: flex-start;
                gap: 30px;
                h1.title {
                    font: 900 40px sans-serif;
                    // text-align: center;
                    margin: 0;
                    background: linear-gradient(93.1deg, #FD00F3 13.04%, #22A2FF 87.87%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
            }
            div.sub {
                // max-width: 95%;
                display: flex;
                flex-direction: column;
                gap: 15px;
                p {
                    margin: 0;
                }
                p.description {
                    max-width: 600px;
                    font: 600 21px sans-serif;
                    background: linear-gradient(97.56deg, #FFFFFF 12.24%, #EFDBBC 71.06%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
                p.feint_text {
                    max-width: 425px;
                    font: 300 15.5px sans-serif;
                    color: #FFFFFF99;
                }
            }
            div.social_buttons {
                width: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                button {
                    width: 150px;
                    height: 50px;
                    outline: none;
                    color: #f0f0f0;
                    font: 500 1rem monospace;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                }
                .twitter {
                    background: linear-gradient(90deg, #22A2FF 6.42%, #F72BEE 92.64%);
                    border: none;
                }
                .discord {
                    background: transparent;
                    border: 5px solid #f0f0f0;
                }
            }
        }
    }
    div.desktop_landing {
        width: 100%;
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 70px;
        div {
            flex-basis: 50%;
        }
        div.content {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            gap: 30px;
            h1.title {
                font: 900 60px sans-serif;
                text-align: center;
                margin: 0;
                background: linear-gradient(93.1deg, #FD00F3 13.04%, #22A2FF 87.87%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                background-clip: text;
                text-fill-color: transparent;
            }
            div.sub {
                // max-width: 95%;
                display: flex;
                flex-direction: column;
                gap: 15px;
                p {
                    margin: 0;
                }
                p.description {
                    max-width: 600px;
                    font: 600 21px sans-serif;
                    background: linear-gradient(97.56deg, #FFFFFF 12.24%, #EFDBBC 71.06%);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    background-clip: text;
                    text-fill-color: transparent;
                }
                p.feint_text {
                    max-width: 425px;
                    font: 300 15.5px sans-serif;
                    color: #FFFFFF99;
                }
            }
            div.social_buttons {
                width: 100%;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                gap: 30px;
                button {
                    width: 150px;
                    // padding: 0 13px;
                    height: 50px;
                    outline: none;
                    color: #f0f0f0;
                    font: 500 1rem monospace;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    gap: 10px;
                }
                .twitter {
                    background: linear-gradient(90deg, #22A2FF 6.42%, #F72BEE 92.64%);
                    border: none;
                }
                .discord {
                    background: transparent;
                    border: 5px solid #f0f0f0;
                }
            }
        }
        div.image {
            display: flex;
            justify-content: flex-end;
            img {
                max-width: 100%;
            }
        }
        @media (max-width: 800px) {
            display: none;
        }
    }
}